.title-image img{

    border: 1px solid black;
    border-radius: 20px;
    width: 70%;
    margin-left: 40px;
}

h1 {
    margin-left: 40px;
    font-size: 50px;
    font-size: 350%;
    text-align: center;
    
}

header {
    background-color: rgb(30, 30, 63);
    text-align: center;
    font-family: "gazzetta-variable",sans-serif;
    font-variation-settings: 'wght' 400;
    font-style: italic;
    text-align: center;
    
    
}

body {
    background-color: #111322;
    color: white;
    
}

p1 {
    font-family: "gazzetta-variable",sans-serif;
    font-variation-settings: 'wght' 200;
    font-size: 150%;
}

h2 {
    font-family: "gazzetta-variable",sans-serif;
    font-variation-settings: 'wght' 400;
    font-style: italic;
    font-size: 300%;
}

.merc {
    background-color: gray;
    text-align: center;
    background-image:url("./imagens/mercury.jpg");
    border-radius: 20cm;
}

.ven {
    background-color: rgb(165, 142, 107);
    text-align: center;
    background-image: url("./imagens/venus.jpg");
    border-radius: 20cm;
}

.mars {
    background-color: rgba(131, 33, 26, 0.877);
    text-align: center;
    background-image: url("./imagens/mars.jpg");
    border-radius: 20cm;
}

.moon {
    background-color: rgb(65, 65, 65);
    text-align: center;
    background-image: url("./imagens/moon.jpg");
    border-radius: 20cm;
}

.jup {
    text-align: center;
    background-image: url("./imagens/jupiter.jpg");
    border-radius: 20cm;
}

.sat {
    text-align: center;
    background-image: url("./imagens/saturn.jpg");
    border-radius: 20cm;
}

.ura {
    text-align: center;
    background-image: url("./imagens/uranus.jpg");
    border-radius: 20cm;
}

.nep {
    text-align: center;
    background-image: url("./imagens/neptune.jfif");
    border-radius: 20cm;
}

.plu {
    text-align: center;
    background-image: url("./imagens/pluto.jpg");
    border-radius: 20cm;
}

/* Missions à Mercure */
.mariner10, .messenger, .bepicolombo {
    max-width: 300px;
    border-radius: 20cm;
    border: 2px solid gray;
}

/* Missions à Venus */
.mariner2, .veneralander, .magellan, .akatsuki {
    max-width: 300px;
    border-radius: 20cm;
    border: 2px solid orange
}

/* Missions à Mars */
.mariner4, .viking, .mer, .curiosity, .marsexpress, .insight, .perseverance {
    max-width: 300px;
    border-radius: 20cm;
    border: 2px solid #9c5b45;
}

/* Missions à Lune */
.luna, .apollo, .chandrayaan, .change, .lro {
    max-width: 300px;
    border-radius: 20cm;
    border: 2px solid #a09f9d;
}


.pioneer10, .voyager1, .galileo, .juno {
    max-width: 300px;
    border-radius: 20cm;
    border: 2px solid #b39980;
}


.pioneer11, .voyager11, .cassini {
    max-width: 300px;
    border-radius: 20cm;
    border: 2px solid #ebd4a8;
}

.voyager2 {
    max-width: 300px;
    border-radius: 20cm;
    border: 2px solid #7394a7;
}

.voyager22 {
    max-width: 300px;
    border-radius: 20cm;
    border: 2px solid #6087ec;
}

.newhorizons {
    max-width: 300px;
    border-radius: 20cm;
    border: 2px solid #e4d4bd;
}


.pioneer102 {
    max-width: 400px;
    border-radius: 3cm;
    border: 5px solid #1e1e3f;
}

.voyager12 {
    max-width: 400px;
    border-radius: 3cm;
    border: 5px solid #1e1e3f;
}

.newhorizons2 {
    max-width: 400px;
    border-radius: 3cm;
    border: 5px solid #1e1e3f;
}

.hubble, .tess, .kepler, .jameswebb {
    max-width: 400px;
    border-radius: 3cm;
    border: 5px solid #1e1e3f;
}

.mercury, .gemini, .apollo, .space-shuttle, .dragon, .starliner, .vostok, .voskhod, .soyuz, .shenzhou {
    max-width: 400px;
    border-radius: 3cm;
    border: 5px solid #1e1e3f;
}

.salyut, .mir, .skylab, .iss, .tiangong {
    max-width: 400px;
    border-radius: 3cm;
    border: 5px solid #1e1e3f;
}

.davinci, .marssamplereturn, .exomars, .europaclipper, .juice, .dragonfly, .uranusorbiter, .interpropo,
.roman, .spherex, .artemis, .chinalunar, .spacexmars, .sscom, .gateway {
    max-width: 400px;
    border-radius: 3cm;
    border: 5px solid #1e1e3f;
}