.title-image img{

    border: 1px solid black;
    border-radius: 20px;
    width: 70%;
    margin-left: 40px;
}

h1 {
    margin-left: 40px;
    font-size: 50px;
    font-size: 350%;
    text-align: center;
    
}

header {
    background-color: rgb(30, 30, 63);
    text-align: center;
    font-family: "gazzetta-variable",sans-serif;
    font-variation-settings: 'wght' 400;
    font-style: italic;
    text-align: center;
    
    
}

body {
    background-color: #111322;
    color: white;
    
}

p1 {
    font-family: "gazzetta-variable",sans-serif;
    font-variation-settings: 'wght' 200;
    font-size: 150%;
}

h2 {
    font-family: "gazzetta-variable",sans-serif;
    font-variation-settings: 'wght' 400;
    font-style: italic;
    font-size: 300%;
}

.merc {
    background-color: gray;
    text-align: center;
}

.ven {
    background-color: rgb(165, 142, 107);
    text-align: center;
}

.mars {
    background-color: rgba(131, 33, 26, 0.877);
    text-align: center;
}

.moon {
    background-color: rgb(65, 65, 65);
    text-align: center;
}