.title-image img{

    border: 1px solid black;
    border-radius: 20px;
    width: 70%;
    margin-left: 40px;
}

h1 {
    margin-left: 40px;
    font-size: 50px;
    font-size: 350%;
    text-align: center;
    
}

header {
    background-color: rgb(30, 30, 63);
    text-align: center;
    font-family: "gazzetta-variable",sans-serif;
    font-variation-settings: 'wght' 400;
    font-style: italic;
    text-align: center;
    
    
}

body {
    background-color: #111322;
    color: white;
    
}

p1 {
    font-family: "gazzetta-variable",sans-serif;
    font-variation-settings: 'wght' 200;
    font-size: 150%;
}

h2 {
    font-family: "gazzetta-variable",sans-serif;
    font-variation-settings: 'wght' 400;
    font-style: italic;
    font-size: 400%;
    margin-top: 2cm;
    text-shadow: 2px 2px 5px rgb(0, 0, 0);
}

.merc {
    background-color: gray;
    text-align: center;
    background-image:url("./imagens/merkury.jpg");
    border-radius: 20cm;
    
}

.ven {
    background-color: rgb(165, 142, 107);
    text-align: center;
    background-image: url("./imagens/venus.jpg");
    border-radius: 20cm;
}

.mars {
    background-color: rgba(131, 33, 26, 0.877);
    text-align: center;
    background-image: url("./imagens/mars.jpg");
    border-radius: 20cm;
}

.moon {
    background-color: rgb(65, 65, 65);
    text-align: center;
    background-image: url("./imagens/moon.jpg");
    border-radius: 20cm;
}

.jup {
    text-align: center;
    background-image: url("./imagens/jupiter.jpg");
    border-radius: 20cm;
}

.sat {
    text-align: center;
    background-image: url("./imagens/saturn.jpg");
    border-radius: 20cm;
}

.ura {
    text-align: center;
    background-image: url("./imagens/uranus.jpg");
    border-radius: 20cm;
}

.nep {
    text-align: center;
    background-image: url("./imagens/neptune.jfif");
    border-radius: 20cm;
}

.plu {
    text-align: center;
    background-image: url("./imagens/pluto.jpg");
    border-radius: 20cm;
}

/* Missions à Mercure */
.mariner10, .messenger, .bepicolombo {
    
    
    max-width: 450px;
    border-radius: 20cm;
    border: 2px solid gray;
    
}

.box-design {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    gap: 50px;
    text-align: left;
    border: 2px solid grey;
    border-radius: 3cm;
    padding: 40px;
    margin-top: 2cm;
}

.mercury-probes {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 50px;
    justify-content: space-between;
}

h3 {
    font-family: "gazzetta-variable",sans-serif;
    font-variation-settings: 'wght' 400;
    font-size: 400%;
    font-style: italic;
    text-align: center;
    ;
    text-decoration: underline overline;
}
p3 {
    font-family: "gazzetta-variable",sans-serif;
    font-variation-settings: 'wght' 200;
    font-size: 200%;
}

p10 {
    font-family: "gazzetta-variable",sans-serif;
    font-variation-settings: 'wght' 300;
    font-size: 150%;
    font-style: italic;
}
/* Missions à Venus */
.mariner2, .veneralander, .magellan, .akatsuki {
    max-width: 450px;
    border-radius: 20cm;
    border: 2px solid orange
}

.box-design2 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    gap: 50px;
    text-align: left;
    border: 2px solid rgb(241, 144, 78);
    border-radius: 3cm;
    padding: 40px;
    margin-top: 2cm;
}

.venus-probes {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 50px;
    justify-content: space-between;
}

/* Missions à Mars */
.mariner4, .viking, .mer, .curiosity, .marsexpress, .insight, .perseverance {
    max-width: 450px;
    border-radius: 20cm;
    border: 2px solid #9c5b45;
}

.box-design3 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    gap: 50px;
    text-align: left;
    border: 2px solid #9c5b45;
    border-radius: 3cm;
    padding: 40px;
    margin-top: 2cm;
}

.mars-probes {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 50px;
    justify-content: space-between;
}

/* Missions à Lune */
.luna, .zond, .chandrayaan, .change, .lro {
    max-width: 450px;
    border-radius: 20cm;
    border: 2px solid #a09f9d;
}

.moon-probes {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 50px;
    justify-content: space-around;
}

.box-design4 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    gap: 50px;
    text-align: left;
    border: 2px solid #adadad;
    border-radius: 3cm;
    padding: 40px;
    margin-top: 2cm;
}


.pioneer10, .voyager1, .galileo, .juno {
    max-width: 300px;
    border-radius: 20cm;
    border: 2px solid #b39980;
}


.pioneer11, .voyager11, .cassini {
    max-width: 300px;
    border-radius: 20cm;
    border: 2px solid #ebd4a8;
}

.voyager2 {
    max-width: 300px;
    border-radius: 20cm;
    border: 2px solid #7394a7;
}

.voyager22 {
    max-width: 300px;
    border-radius: 20cm;
    border: 2px solid #6087ec;
}

.newhorizons {
    max-width: 300px;
    border-radius: 20cm;
    border: 2px solid #e4d4bd;
}


.pioneer102 {
    max-width: 400px;
    border-radius: 3cm;
    border: 5px solid #1e1e3f;
}

.voyager12 {
    max-width: 400px;
    border-radius: 3cm;
    border: 5px solid #1e1e3f;
}

.newhorizons2 {
    max-width: 400px;
    border-radius: 3cm;
    border: 5px solid #1e1e3f;
}

.hubble, .tess, .kepler, .jameswebb {
    max-width: 400px;
    border-radius: 3cm;
    border: 5px solid #1e1e3f;
}

.mercury, .gemini, .apollo, .space-shuttle, .dragon, .starliner, .vostok, .voskhod, .soyuz, .shenzhou {
    max-width: 400px;
    border-radius: 3cm;
    border: 5px solid #1e1e3f;
}

.salyut, .mir, .skylab, .iss, .tiangong {
    max-width: 400px;
    border-radius: 3cm;
    border: 5px solid #1e1e3f;
}

.davinci, .marssamplereturn, .exomars, .europaclipper, .juice, .dragonfly, .uranusorbiter, .interpropo,
.roman, .spherex, .artemis, .chinalunar, .spacexmars, .sscom, .gateway {
    max-width: 400px;
    border-radius: 3cm;
    border: 5px solid #1e1e3f;
}

.mariner-history {
    --max-lines: 5;
    --line-height: 1.4;

    max-height: calc(var(--max-lines) * 1em * var(--line-height));
    line-height: var(--line-height);

    overflow: hidden;
    position: relative;
    
}

.mariner-history::before {
    content: "";
    position: absolute;
    height: calc(2em * var(--line-height));
    width: 100%;
    bottom: 0;
    pointer-events: none;
    background: linear-gradient(to bottom, transparent, #111322);
}

.expand-button {
    appearance: none;
    border: 2px solid rgb(145, 145, 175);
    padding: .3em;
    border-radius: 20cm;
    cursor: pointer;
    margin-top: 1rem;
    font-size: 180%;
    font-family: "gazzetta-variable",sans-serif;
    font-variation-settings: 'wght' 400;
    font-style: italic;
}

.expand-button:hover {
    background-color: rgb(30, 30, 63);
}

.expand-button::before {
    content: "‎ ‎ Etendre ‎  ‎ ";
    color: rgb(145, 145, 175);
}

.expand-button:checked::before {
    content: "‎ ‎ Réduire ‎  ‎";
}

.mariner-history {
    word-wrap: break-word;
    width: 450px;
    letter-spacing: 0.03cm;
    text-align: center;
}

.mariner-history:has(+ .expand-button:checked) {
    max-height: none;
}

a {
    text-decoration: none;
    color: rgb(145, 145, 175);
}

p9 {
    font-family: "gazzetta-variable",sans-serif;
    font-variation-settings: 'wght' 300;
    font-style: italic;
    font-size: 200%;
    text-shadow: 3px 3px 9px rgb(0, 0, 0);
}